@{
    ViewData["Title"] = "Terms of use";
}
<h1>@ViewData["Title"]</h1>
<br/>
<p><strong>1. Статус Правил пользования Сайтом</strong></p>

<p>1.1. Настоящие Правила пользования Сайтом Студенческой группы "Мужчины честной судьбы"
   (далее — Правила) разработаны Администрацией Cайта и определяют условия пользования Сайтом, 
   в том числе права и обязанности Пользователей Сайта (далее — Пользователи) и Администрации Сайта.</p>

<p>1.2. Настоящие Правила являются юридически обязательным соглашением между Пользователем и Администрацией Сайта, 
    предметом которого является предоставление Администрацией Сайта Пользователю услуг по использованию Сайта (далее — Услуги).</p>

<p>
    1.3. Пользователь обязан полностью ознакомиться с настоящими Правилами до момента регистрации на Сайте. 
    Регистрация Пользователя на Сайте означает полное и безоговорочное принятие Пользователем настоящих Правил в соответствии со статьей 399 Гражданского кодекса Кыргызской Республики.
</p>

<p>
    1.4. Настоящие Правила могут быть изменены и/или дополнены Администрацией Сайта в одностороннем порядке без какого-либо специального уведомления. Настоящие Правила являются открытым и общедоступным документом. 
  Администрация Сайта рекомендует Пользователям регулярно проверять условия настоящих Правил на предмет их изменения и/или дополнения. 
  Продолжение использования Сайта Пользователем после внесения изменений и/или дополнений в настоящие Правила означает принятие и согласие Пользователя с такими изменениями и/или дополнениями.
</p>

<p> <strong>2. Статус Сайта</strong></p>

<p>2.1. Сайт является Интернет-ресурсом и представляет собой совокупность информации и программ для ЭВМ, содержащихся в информационной системе, обеспечивающей доступность такой информации в сети Интернет.</p>

<p>2.2. Все права на Сайт принадлежат Администрации Сайта. Последняя предоставляет доступ к Сайту всем заинтересованным лицам в соответствии с настоящими Правилами и законодательством Кыргызской Республики.</p>

<p>
    <strong3. Администрация Сайта></strong3.>
</p>

<p>
    3.1. Под Администрацией Сайта в настоящих Правилах понимается  Студенческой группы "Мужчины честной судьбы".
</p>

<p>
    3.2. Обращения, предложения и претензии физических и юридических лиц к Администрации Сайта в связи с настоящими Правилами и всеми вопросами по функционированию Сайта на электронный почтовый адрес: protection-animal@protonmail.com.

</p>
<p>
    3.3. В отношении функционирования и развития Сайта Администрация руководствуется законодательством Кыргызской Республики и настоящими Правилами.
</p>

<p>
    <strong>4. Регистрация на Сайте и статус Пользователя</strong>
</p>
<p>
    4.1. Пользователем Сайта является физическое лицо, зарегистрированное на Сайте в соответствии с установленным настоящими Правилами порядком, достигшее возраста, допустимого в соответствии с законодательством Кыргызской Республики для акцепта настоящих Правил, и обладающее соответствующими полномочиями.
</p>
<p>
    4.2. При регистрации Пользователь соглашается с настоящими Правилами и принимает на себя указанные в них права и обязанности, связанные с использованием и функционированием Сайта.
</p>
<p>
    4.3. При регистрации на Сайте, Пользователь обязан предоставить Администрации Сайта необходимую достоверную и актуальную информацию
</p>

<p>
    4.4. Принимая настоящие Правила путем регистрации на Сайте, Пользователь подтверждает свое согласие на обработку Администрацией его персональных данных, предоставленных при регистрации. 
    Обработка персональных данных Пользователя осуществляется в соответствии с законодательством Кыргызской Республики. 
    Администрация Сайта принимает все необходимые меры для защиты персональных данных Пользователя от неправомерного доступа, изменения, раскрытия или уничтожения. 
    Администрация предоставляет доступ к персональным данным Пользователя только тем работникам, подрядчикам и агентам Администрации, которым эта информация необходима для обеспечения функционирования Сайта и предоставления Услуг Пользователю. 
    Администрация Сайта вправе использовать предоставленную Пользователем информацию, в том числе персональные данные, в целях обеспечения соблюдения требований действующего законодательства Кыргызской Республики(в том числе в целях предупреждения и/или пресечения незаконных и/или противоправных действий Пользователей). 
    Раскрытие предоставленной Пользователем информации может быть произведено лишь в соответствии с законодательством Кыргызской Республики по требованию суда, правоохранительных органов, а равно в иных предусмотренных законодательством Кыргызской Республики случаях.
</p>

<p>
    <strong>5. Обязанности Пользователя Сайта</strong>
</p>
<p>
    <b>При пользовании Услугами Сайта Пользователь обязан:</b>
</p>
<p>
    5.1. соблюдать положения действующего законодательства Кыргызской Республики и настоящих Правил;
</p>
<p>
    5.2. предоставлять при регистрации достоверные, полные и актуальные данные, следить за их актуализацией;
</p>
<p>
    5.3. информировать Администрацию Сайта о несанкционированном доступе и/или использовании пароля и логина Пользователя;
</p>


<p>
    <strong>6. Функционирование Сайта и ответственность при его использовании</strong>
</p>
<p>
    6.1. При пользовании Сайтом Пользователи обязаны соблюдать положения действующего законодательства Кыргызской Республики.
</p>
<p>
    6.2. Пользователи несут ответственность за собственные действия в связи с размещением информации на Сайте в соответствии с законодательством Кыргызской Республики.
</p>
<p>
    6.3. Администрация Сайта обеспечивает функционирование и работоспособность Сайта и обязуется оперативно восстанавливать его работоспособность в случае технических сбоев и перерывов. 
    Администрация Сайта не несет ответственности за временные сбои и перерывы в работе Сайта и вызванную ими потерю информации.
</p>

<p>
    <strong>7. Заключительные положения</strong>
</p>
<p>
    7.1. Вопросы, не урегулированные настоящими Правилами, подлежат разрешению в соответствии с законодательством Кыргызской Республики.
</p>
</p>
<p>
    7.2. В случае возникновения любых споров или разногласий, связанных с исполнением настоящих Правил, Пользователь и Администрация Сайта приложат все усилия для их разрешения путем проведения переговоров между ними.
    В случае, если споры не будут разрешены путем переговоров, споры подлежат разрешению в порядке, установленном законодательствомКыргызской Республики.
</p>
<p>
    7.3.Настоящие Правила вступают в силу для Пользователя с момента регистрации на Сайте и действуют в течении неопределенного срока.
</p>